<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <script type="text/javascript">
        function confirmDelete() {
            return confirm("정말로 회원 탈퇴하시겠습니까?");
        }
    </script>
</head>

<div layout:fragment="content">
    <div th:if="${message}" class="alert alert-success" role="alert">
        <p th:text="${message}"></p>
    </div>
    <div th:if="${deleteErrorMsg}" class="alert alert-danger" role="alert">
        <p th:text="${deleteErrorMsg}"></p>
    </div>
    <form role="form" method="post" action="/members/delete" onsubmit="return confirmDelete()">
        <div class="form-group">
            <label for="email">이메일 입력</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="이메일 입력">
        </div>

        <button type="submit" class="btn btn-primary">회원 탈퇴</button>

        <input type="hidden" th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}">
    </form>
</div>

</html>
